<?xml version="1.0" encoding="utf-8"?>
<launch>
<arg name="sim"/>

   	<include file="$(find kuka_rsi_hw_interface)/test/test_two_robots.launch">
		<arg name="sim" value="$(arg sim)"/>
   	</include>

   	<include file="$(find kuka_agilus_moveit_config)/launch/moveit_planning_execution.launch">
   	</include>

	<include file="$(find agilus_planner)/launch/robot_service_two_robots.launch">
	</include>

</launch>
